.course{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin-left: 20px;
    width: 120%;
}
.couse-layout{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}