.course{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin-left: 20px;
    width: 120%;
    margin-top: 100px;
    float: right;
}
.couse-layout{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}
.margin-tp{
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .course{
   
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        margin-left: 20px;
        width: 120%;
    }
    .couse-layout{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


}

@media only screen and (min-width: 768px) {

    .course{
   
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
        margin-left: 20px;
        width: 120%;
    }

}

@media only screen and (min-width: 992px) {

    .course{
   
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 5px;
        margin-left: 20px;
        width: 120%;
    } 
}